{% if parsedData.error is defined %}
    <div class="box empty-content text-left">
        <p>Impossible d'afficher le contenu du tournoi.</p>
        <p>{{ parsedData.error }}</p>
    </div>
{% else %}
    {# Navigation #}
    <nav class="box">
        <ul class="columns">
            <li class="column control">
                <label for="select-table" class="label">Tableaux :</label>
                <div class="select">
                    <select id="select-table" data-hash="#tab">
                        <option value="-">-</option>
                        {% for idx, tableData in parsedData.tables %}
                            <option value="table-{{ idx }}">{{ tableData.name|raw }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
            <li class="column control">
                <label for="select-planning" class="label">Planning :</label>
                <div class="select">
                    <select id="select-planning" data-hash="#pla">
                        <option value="-">-</option>
                        {% for day, planningByDayData in parsedData.planning %}
                            <option value="{{ day|replace({'.':'', ' ':''}) }}">{{ day }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
            <li class="column control">
                <label class="label is-invisible">&nbsp;</label>
                <a href="{{ app.request.uri }}#res" data-hash="#res" class="button">Résultats</a>
            </li>
            <li class="column control">
                <label class="label is-invisible">&nbsp;</label>
                <a href="{{ app.request.uri }}#jou" data-hash="#jou" class="button">Liste des joueurs</a>
            </li>
        </ul>
    </nav>

    {# Liste de joueurs #}
    {{ _self.playersListView(parsedData.players) }}

    {# Vue individuelle joueur #}
    {% for playerData in parsedData.players %}
        {{ _self.playerView(playerData) }}
    {% endfor %}

    {# Résultats #}
    {% set resultsDisplay = (display == 'results') ? 'block' : 'none' %}
    {{ _self.resultsView(parsedData.result, resultsDisplay) }}

    {# Planning #}
    {% set planningDisplay = (display == 'planning') ? 'block' : 'none' %}
    {{ _self.planningView(parsedData.planning, planningDisplay) }}

    {# Tableaux #}
    {% for idxTable, tableData in parsedData.tables %}
        <div class="tables-container" id="table-{{ idxTable }}" style="display: none">
            <div class="container">
                <h2 class="title is-size-3 is-size-4-mobile">{{ tableData.name|raw }}</h2>
            </div>

            <div class="table-container">
                <div class="table-container-centered">
                    {% for boxesData in tableData.boxes %}
                        <div class="table-container-part">
                            {{ _self.tableItem(boxesData) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% macro planningView(planning, planningDisplay) %}
    <div class="box planning-container" style="display: {{ planningDisplay }}">
        <ul class="planning-nav is-hidden-touch">
            {% for day, planningByDayData in planning %}
                <li><a href="{{ app.request.uri }}#pla"
                       data-hash="#pla"
                       data-param="{{ day|replace({'.':'', ' ':''}) }}">{{ day }}</a>
                </li>
            {% endfor %}
        </ul>

        {% for day, planningByDayData in planning %}
            <div class="container planning-day" id="planning-day-{{ day|replace({'.':'', ' ':''}) }}">
                <div class="columns is-gapless">
                    <div class="column is-one-fifth-mobile"><strong class="day">{{ day }}</strong></div>
                    <div class="column is-one-quarter-desktop is-hidden-mobile"><strong>Tableau</strong>
                    </div>
                    <div class="column is-one-quarter-desktop is-hidden-mobile"><strong>Joueur 1</strong>
                    </div>
                    <div class="column is-hidden-mobile"><strong>Score</strong></div>
                    <div class="column  is-one-quarter-desktop is-hidden-mobile"><strong>Joueur 2</strong>
                    </div>
                </div>

                {% for time, planningByTimeData in planningByDayData %}
                    {% for place, planningByPlaceData in planningByTimeData %}
                        <div class="columns is-gapless is-mobile is-multiline">
                            <div class="column is-one-fifth-mobile">{{ time }}</div>
                            <div class="column is-one-quarter-desktop is-four-fifths-mobile">{{ planningByPlaceData.table|raw }}</div>
                            <div class="column is-one-quarter-desktop{{ (planningByPlaceData.score is not empty)? ' is-winner' }}">{{ planningByPlaceData.player1.name }}
                                <em>{{ planningByPlaceData.player1.rank }}</em>
                            </div>
                            <div class="column score">{{ planningByPlaceData.score }}</div>
                            <div class="column  is-one-quarter-desktop">{{ planningByPlaceData.player2.name }}
                                <em>{{ planningByPlaceData.player2.rank }}</em>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro resultsView(results, resultsDisplay) %}
    {% if results is not empty %}
        <div class="box results-container" style="display: {{ resultsDisplay }}">
            <div class="container">
                <h2 class="title">Résultats du tournoi</h2>
                {% for resultName, resultData in results %}
                    <h3 class="title">{{ resultName|raw }}</h3>

                    {% if resultData.winner is defined %}
                        <div class="columns is-gapless">
                            <div class="column is-one-fifth-desktop"><strong>Vainqueur :</strong></div>
                            <div class="column is-one-third-desktop winner-name">{{ resultData.winner.name }}</div>
                            <div class="column is-one-fifth-desktop winner-rank">{{ resultData.winner.rank }}</div>
                            <div class="column is-one-fifth-desktop score">{{ resultData.winner.score }}</div>
                        </div>
                        {% if resultData.finalist is defined %}
                            <div class="columns is-gapless">
                                <div class="column is-one-fifth-desktop">Finaliste :</div>
                                <div class="column is-one-third-desktop name">{{ resultData.finalist.name }}</div>
                                <div class="column is-one-fifth-desktop rank">{{ resultData.finalist.rank }}</div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% for finalist in resultData.finalists %}
                            <div class="columns is-gapless">
                                <div class="column is-one-fifth-desktop">Finaliste :</div>
                                <div class="column is-one-third-desktop name">{{ finalist.name }}</div>
                                <div class="column is-one-fifth-desktop rank">{{ finalist.rank }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro playersListView(players) %}
    <div class="box players-container" style="display: none;">
        <div class="container">
            <h2 class="title">Liste des {{ players|length }} joueurs</h2>
            <div class="columns is-gapless is-mobile is-multiline">
                <span class="column is-one-third-desktop is-half-mobile">
                    NOM<span class="is-hidden-mobile"> Prénom</span>
                    <span class="is-hidden-desktop">(+ club)</span>
                </span>
                <span class="column is-hidden-mobile">Sexe</span>
                <span class="column">Année</span>
                <span class="column">Class.</span>
                <span class="column is-hidden-mobile">Club</span>
            </div>
            {% for playersData in players %}
                <div class="columns is-gapless is-mobile is-multiline">
                    <span class="column is-one-third-desktop is-half-mobile">
                        {{ playersData.name }}
                        {% if playersData.club is not empty %}<br>({{ playersData.club }}){% endif %}
                    </span>
                    <span class="column is-hidden-mobile">{{ playersData.sexe }}</span>
                    <span class="column">{{ playersData.year }}</span>
                    <span class="column">{{ playersData.rank }}</span>
                    <span class="column is-hidden-mobile">{{ playersData.club }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro playerView(player) %}
    {% if player is not empty %}
        <div class="box" style="display: none">
            <div class="container one-player-container">
                <div class="columns is-multiline is-gapless">
                    <div class="column is-one-fifth">Nom :</div>
                    <div class="column is-four-fifths"><strong>{{ player.name }}</strong></div>
                    <div class="column is-one-fifth">Classement :</div>
                    <div class="column is-four-fifths">{{ player.rank }}</div>
                    <div class="column is-one-fifth">Année de naissance :</div>
                    <div class="column is-four-fifths">{{ player.year }}</div>
                    <div class="column is-one-fifth">Club :</div>
                    <div class="column is-four-fifths">{{ player.club }}</div>
                    <div class="column is-one-fifth">Matchs :</div>
                    <div class="column is-four-fifths">
                        {% for tableName, matchesByTable in player.matches %}
                            <div class="table-name">{{ tableName|raw }}</div>
                            {% for match in matchesByTable %}
                                <div class="columns is-multiline is-gapless">
                                    <div class="column">
                                        <span>{{ match.date }}</span>
                                    </div>
                                    <div class="column is-one-third-desktop">
                                        <span>
                                            <a href="#">{{ match.player.name }}</a>
                                            <em>{{ match.player.rank }}</em>
                                        </span>
                                    </div>
                                    <div class="column">
                                        <span>{{ match.victory ? 'Victoire':'Défaite' }}</span>
                                    </div>
                                    <div class="column">
                                        <span class="score">{{ match.score }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro tableItem(tableData) %}
    {% if tableData is not empty %}
        <div class="item">
            <div class="item-parent">
                <p>
                    {% if tableData.name is defined %}
                        <span class="name">{{ tableData.name }} <em>{{ tableData.rank }}</em> </span><br>
                    {% else %}
                        <span class="name"> ???</span><br>
                    {% endif %}

                    {% if tableData.date is defined %}
                        <span class="date">{{ tableData.date }}</span><br>
                    {% endif %}

                    {% if tableData.score is defined %}
                        <span class="score">{{ tableData.score }}</span><br>
                    {% endif %}
                </p>
            </div>
            {% if tableData.prevBtm is defined or tableData.prevTop is defined %}
                <div class="item-childrens">
                    {% if tableData.prevTop is defined %}
                        <div class="item-child">
                            {{ _self.tableItem(tableData.prevTop) }}
                        </div>
                    {% endif %}
                    {% if tableData.prevBtm is defined %}
                        <div class="item-child">
                            {{ _self.tableItem(tableData.prevBtm) }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}
