{% set month = app.request.query.get('mois') ?? 'now'|date('m') %}
{% set year = app.request.query.get('an') ?? 'now'|date('Y') %}

{% set firstDayOfMonth = (year ~ '-' ~ ("%02d"|format(month)) ~ '-01' ) %}

{% set previousMonth = (month > 1) ? month - 1 : 12 %}
{% set previousMonthYear = (month > 1) ? year : year - 1 %}
{% set nextMonth = (month < 12) ? month + 1 : 1 %}
{% set nextMonthYear = (month < 12) ? year : year + 1 %}

<section class="section section-competition section-home-meetings">
    <div class="container">
        <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>

        <div class="box">
            {% set homeMeetings = getHomeMeetings(month, year) %}

            <table class="table is-fullwidth is-bordered">
                <caption>
                    {# Lien vers le mois précédent #}
                    {% set previousDate = previousMonthYear ~ '-' ~ ("%02d"|format(previousMonth)) ~ '-01' %}
                    {% if record.home_meetings_from_date <= previousDate %}
                        <a href="{{ record.link }}?mois={{ previousMonth }}&an={{ previousMonthYear }}"
                           class="pagination-previous">
                            <i class="fas fa-angle-left"></i>
                            <span>{{ previousDate|formatLocalized('%B %Y') }}</span>
                        </a>
                    {% endif %}

                    {# Mois des rencontres affichées #}
                    <h2 class="text-primary is-size-2 is-size-4-mobile">{{ firstDayOfMonth|formatLocalized('%B %Y') }}</h2>

                    {# Lien vers le mois suivant #}
                    {% set nextDate = nextMonthYear ~ '-' ~ ("%02d"|format(nextMonth)) ~ '-01' %}
                    {% if record.home_meetings_to_date >= nextDate %}
                        <a href="{{ record.link }}?mois={{ nextMonth }}&an={{ nextMonthYear }}"
                           class="pagination-next">
                            <span>{{ nextDate|formatLocalized('%B %Y') }}</span>
                            <i class="fas fa-angle-right"></i>
                        </a>
                    {% endif %}
                </caption>

                <tbody>
                {% for homeMeetingOfDay in homeMeetings %}
                    <tr>
                        <th class="is-size-3 is-size-5-mobile"
                            colspan="5">{{ homeMeetingOfDay[0]|formattedDate }}</th>
                    </tr>
                    {% for homeMeeting in homeMeetingOfDay %}
                        {% if homeMeeting.id != 1544 %} {# CODE à l'arrache à supprimer !!!!!!!!! #}
                            {{ _self.meetingView(homeMeeting) }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {# Cas rien à afficher #}
                {% if homeMeetings is empty %}
                    <tr><td><div class="empty text-center is-size-5">Aucune rencontre à afficher.</div></td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% macro meetingView(homeMeeting) %}
    {% set scoreHtml = homeMeeting|score(true)|default(' - ') %}
    {% set matchesSheetLinkHtml = homeMeeting|matchesSheetLink(scoreHtml) %}

    <tr class="home-meeting">
        {% if homeMeeting.time is not null %}
            <td class="time text-center">{{ homeMeeting.time|date('H\\hi') }}</td>
        {% elseif homeMeeting.isWo %}
            <td class="time text-center"><em>{{ 'general.phrase.wo'|trans }}</em></td>
            {% else %}
            <td class="time text-center"></td>
        {% endif %}
        <td class="is-club">
            {{ homeMeeting.home_team_name }}
        </td>
        <td class="score">{{ matchesSheetLinkHtml ? matchesSheetLinkHtml : scoreHtml }}</td>
        <td>
            {{ homeMeeting.visitor_team_name }}
        </td>

        {# Lien vers la page de compétition #}
        <td>
            {% if homeMeeting.competition_record_slug is defined and homeMeeting.competition_record_slug is not empty %}
                <em class="is-hidden-mobile">
                    <i class="fas fa-chevron-circle-right"></i>
                    <a href="{{ url('contentlink', {'contenttypeslug': 'competition', 'slug': homeMeeting.competition_record_slug}) }}"
                       class="text-default underline-hover" target="_blank">
                        {{ homeMeeting.competition_record_title }}
                    </a>
                </em>
            {% endif %}
        </td>
    </tr>
{% endmacro %}