{% extends 'partials/_master.twig' %}

{% block main %}
    <section class="section section-page section-championship">
        <div class="container">
            <h1 class="title is-size-1 is-size-3-mobile">{{ headTitle }}</h1>

            <div class="content">
                {% for championshipTitle, clubMeetingsOfChampionship in clubMeetings %}
                    <div class="box">
                        <h2 class="text-primary">{{ championshipTitle }}</h2>

                        <table class="table is-bordered is-responsive is-narrow">
                            <thead class="is-hidden-touch">
                            <tr>
                                <th colspan="2" class="has-text-centered">Équipe</th>
                                {% for idxDay in 1..nbMaxDaysByChampionship[championshipTitle] %}
                                    <th colspan="2">{{ 'J' ~ idxDay }}</th>
                                {% endfor %}
                            </tr>
                            </thead>

                            <tbody>
                            {% for categoryName, clubMeetingsOfCategory in clubMeetingsOfChampionship %}
                                {% set isFirstTeamOfCategory = true %}

                                {% for teamName, clubMeetingsOfTeam in clubMeetingsOfCategory %}
                                    <tr>
                                        {% if isFirstTeamOfCategory %}
                                            <th rowspan="{{ clubMeetingsOfCategory|length }}" class="is-size-6 is-size-4-touch has-text-nowrap">
                                                {{ categoryName }}
                                            </th>
                                            {% set isFirstTeamOfCategory = false %}
                                        {% endif %}
                                        <th class="is-size-5 text-secondary">{{ teamName }}</th>

                                        {% for idxDay, clubMeeting in clubMeetingsOfTeam %}
                                            {% set isMeetingInPast = clubMeeting.finalDate|date('Y-m-d') < ('now'|date('Y-m-d')) %}
                                            {% set isMeetingToday = clubMeeting.finalDate|date('Y-m-d') == ('now'|date('Y-m-d')) %}
                                            {% set time = clubMeeting.time ? (clubMeeting.time|date('H') ~ 'h') : '' %}

                                            {% if time is not empty and clubMeeting.time|date('i') != '00' %}
                                                {% set time = time ~ clubMeeting.time|date('i') %}
                                            {% endif %}

                                            <td class="is-size-6{{ isMeetingToday ? ' has-background-warning':(isMeetingInPast ? ' has-background-success':'') }}">
                                                <span class="is-hidden-desktop has-text-weight-bold">{{ 'J' ~ idxDay }} : </span>
                                                <span style="white-space: nowrap;">{{ clubMeeting|shorterFormattedDate }}</span>

                                                {# Mobile seulement #}
                                                <span class="is-hidden-desktop is-pulled-right" style="white-space: nowrap;">
                                                    {{ time }}

                                                    <span class="has-cursor-help">
                                                    {% if clubMeeting.homeTeamIsClub %}
                                                        <i class="fas fa-home has-text-light"></i>
                                                    {% else %}
                                                        <i class="fas fa-paper-plane has-text-grey-lighter"></i>
                                                    {% endif %}
                                                    </span>
                                                </span>
                                            </td>
                                            <td class="is-hidden-touch is-size-6 has-text-centered {{ isMeetingToday ? ' has-background-warning':(isMeetingInPast ? ' has-background-success':'') }}">
                                                <span style="white-space: nowrap;">
                                                    {{ time }}

                                                    <span class="is-pulled-right">
                                                    {% if clubMeeting.homeTeamIsClub %}
                                                        <i class="fas fa-home has-text-light"></i>
                                                    {% else %}
                                                        <i class="fas fa-paper-plane has-text-grey-lighter"></i>
                                                    {% endif %}
                                                    </span>
                                                </span>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}

                <div class="box">
                    <div>
                        <i class="has-text-light fas fa-home" style="display: inline-block; width: 25px"></i>
                        <span>Rencontre à DOMICILE</span>
                    </div>
                    <div>
                        <i class="has-text-grey-lighter fas fa-paper-plane" style="display: inline-block; width: 25px"></i>
                        <span>Rencontre à L'EXTÉRIEUR</span>
                    </div>
                </div>
            </div>

            <div class="bottom-warning has-text-centered">
                <em class="has-text-danger is-size-6">
                    Les dates et horaires des matchs sont affichés ici à titre <strong class="has-text-danger">purement indicatif</strong>.<br>
                    Seules les <strong class="has-text-danger">convocations officielles</strong> font foi.
                </em>
            </div>
        </div>
    </section>
{% endblock main %}
