{# Récupération de certains éléments du pied de page contribués dans le contenu "Accueil" #}
{% setcontent homepage = "homepage" limit 1 returnsingle %}
{% set isPartnerPage = record.template == 'template_partners.twig'  %}

<footer id="footer">
    {# SECTION: SPONSORS #}
    {% if not isPartnerPage %}
    <div class="sponsors">
        {{ include('partials/footer/_footer_partners.twig', { 'homepage' : homepage} ) }}
    </div>
    {% endif %}

    <div class="top">
        {# SECTION: CONTACT #}
        <div class="col-footer col-footer-contact">
            {{ include('partials/footer/_footer_contact.twig', { 'homepage' : homepage} ) }}
        </div>

        {# SECTION: RÉSERVATION / REJOINDRE LE CLUB #}
        <div class="col-footer col-footer-book-join">
            {{ include('partials/footer/_footer_book_join.twig', { 'homepage' : homepage} ) }}
        </div>

        {# SECTION: LIENS EXTERNES #}
        <div class="col-footer col-footer-external-links">
            {{ menu(identifier = 'footer_external_links', template = 'partials/_sub_menu_footer.twig') }}
        </div>
    </div>

    <div class="bottom">
        {{ widgets('footer') }}
        <p class="copyright">
            Copyright © {{ date()|localdate('%Y') }} ASMB Tennis Nantes | <a href="/page/mentions-legales">Mentions
                légales</a><br>
            <span
                class="font-italic">{{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.",{'%url%':'http://bolt.cm'}) }}</span>
        </p>
        <p class="empty"></p>
    </div>
</footer>
