{# This file is inserted as the 'footer' of each listed record. #}
{% if extended|default() and record.taxonomy is not null %}

    {% set previous = false %}
    {% set next = false %}

    {# On utilise 1 seule taxonomie : "tags" et on prend la 1ère pour trouver d'autres contenus de même taxonomie #}
    {% setcontent otherRecords = record.contenttype.slug where { tags: record.taxonomy|first|first, id: '!' ~ record.id } %}

    {% for otherRecord in otherRecords %}
        {% if otherRecord.sortorder > record.sortorder %}
            {% set next = (not next or next.sortorder >= otherRecord.sortorder) ? otherRecord : next %}
        {% else %}
            {% set previous = (not previous or previous.sortorder <= otherRecord.sortorder) ? otherRecord : previous %}
        {% endif %}
    {% endfor %}

    {% if previous or next %}
        <nav class="pagination" role="navigation" aria-label="pagination">
            {% if previous %}
                <a href="{{ previous.link }}" class="pagination-previous">&laquo; {{ previous.title|excerpt(44) }}</a>
            {% endif %}
            {% if next %}
                <a href="{{ next.link }}" class="pagination-next">{{ next.title|excerpt(44) }} &raquo;</a>
            {% endif %}
        </nav>
    {% endif %}

    {% set relatedrecords = record.related() %}
    {% if relatedrecords is not empty %}
        <p class="meta">
            <h2 class="is-size-4">{{ __('general.phrase.related-content') }}</h2>
            <ul>
                {% for related in relatedrecords %}
                    <li><a href="{{ related.link }}">{{ related.title }}</a></li>
                {%  endfor %}
            </ul>
        </p>
    {% endif %}

{% endif %}
