{% for category_name, teams in teamsByCategoryName %}
    <fieldset class="mb-md">
        <legend>{{ category_name }} {% if teams is not empty %}- {{ __('general.phrase.championship_team.count', { '%count%': teams|length }) }}{% endif %}</legend>

        {% if teams is empty %}
            <p>{{ __('general.phrase.empty-list') }}</p>
        {% else %}
            <table class="dashboardlisting table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>{{ __('general.phrase.name-fft') }}</th>
                    <th>{{ __('general.phrase.short_name') }}</th>
                    <th>{{ __('general.phrase.team-is_club') }}</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for team in teams %}
                    <tr>
                        <td class="name">{{ team.name }}</td>

                        <td class="short_name">{{ team.short_name }}</td>

                        <td class="is_club">{{ team.is_club ? '<i class="fa fa-check"></i>'|raw }}</td>

                        <td class="actions">
                            {{ include('@AsmbCompetition/championship/team/_list-actions.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="pull-right">
            <a class="btn btn-primary" href="{{ path('teamadd', {'categoryName': category_name}) }}">
                <i class="fa fa-fw fa-users"></i>
                {{ __('panel.team-actions.button.add') }}
            </a>
        </div>
    </fieldset>
{% endfor %}
