{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'championship-menu' %}


{% if team.id is not null %}
    {% set title = __('general.phrase.championship_team.edit', {'%name%': team.name}) %}
{% else %}
    {% set title = __('general.phrase.championship_team.new') %}
{% endif %}

{% block page_title title %}

{% block page_main %}
    {% form_theme context.form 'form_bolt_layout.twig' %}

    <div class="row">
        <div class="col-md-12">
            {{ form_start(context.form) }}
            {{ form_row(context.form.category_name) }}
            {{ form_row(context.form.name) }}
            {{ form_row(context.form.short_name) }}
            {{ form_row(context.form.is_club) }}

            <div class="row form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 col-md-6 col-lg-4">
                    {{ form_widget(context.form.save_and_continue) }}
                    <span class="pull-right">{{ form_widget(context.form.save) }}</span>
                </div>
            </div>
            {{ form_end(context.form) }}
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            <a href="{{ path('championship') }}" class="btn btn-default">
                <i class="fa fa-chevron-circle-left"></i>
                {{ __('general.phrase.back') }}
            </a>
        </div>
    </div>
{% endblock page_main %}

