{% if isallowed('competition:edit') %}
    <div class="btn-group">
        {# Accès à l'édition des dates/heures des prochaines rencontres #}
        <a class="btn btn-tertiary" href="{{ path('poolmeetingseditfuture') }}">
            <i class="fa fa-fw fa-edit"></i>
            {{ __('panel.championship-actions.button.edit-datetime') }}
        </a>

        {# Accès à l'édition des dates/heures des dernières rencontres #}
        <a class="btn btn-default" href="{{ path('poolmeetingseditpast') }}">
            <i class="fa fa-fw fa-edit"></i>
            {{ __('panel.championship-actions.button.edit-datetime-past') }}
        </a>
    </div>

    {# Envoi notification par mail des prochaines rencontres #}
    <a class="btn btn-primary" href="{{ path('poolmeetingsnotify') }}">
        <i class="fa fa-envelope"></i>
        {{ __('panel.championship-actions.button.notify') }}
    </a>
{% endif %}
