<table class="dashboardlisting table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>{{ __('general.phrase.id') }}</th>
        <th class="hidden-xs">{{ __('general.phrase.name') }}<br><em style="white-space: nowrap">({{ __('general.phrase.short_name') }})</em></th>
        <th class="hidden-xs">{{ __('general.phrase.year') }}</th>
        <th class="hidden-xs">{{ __('general.phrase.dates') }}</th>
        <th class="visible-xs">{{ __('general.phrase.info') }}</th>
        <th>{{ __('page.list-tournament.tables.title') }}</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <td>{{ tournament.id }}</td>
            <td class="hidden-xs name">
                {{ tournament.name }}<br><em style="white-space: nowrap">({{ tournament.short_name ? tournament.short_name : ' - '}})</em>
            </td>
            <td class="hidden-xs year">{{ tournament.year }}</td>
            <td class="hidden-xs">
                <span class="text-nowrap">du {{ tournament.from_date|date('d/m/y') }}</span>
                <br>
                <span class="text-nowrap">au {{ tournament.to_date|date('d/m/y') }}</span>
            </td>

            <td class="visible-xs col-xs-4">
                {{ tournament.name }} {{ tournament.year }}<br><br>
                <span class="text-nowrap">du {{ tournament.from_date|date('d/m/y') }}</span>
                <br>
                <span class="text-nowrap">au {{ tournament.to_date|date('d/m/y') }}</span>
            </td>

            {# Lien direct vers les différents tableaux du tournoi (si tournoi actif) #}
            <td>
                {% for table in tournament.tables %}
                    {% set btnClass = (table.status == 1) ? 'btn-warning' : (table.status == 2) ? 'btn-success':'btn-default' %}
                    {% set statusLabel = (table.status == 1) ? 'non complété' : (table.status == 2) ? 'complété' : '' %}
                    {% set visibleClass = (table.visible) ? 'fa-eye':'fa-eye-slash' %}
                    {% set visibleLabel = (table.visible) ? 'visible sur le site':'non visible sur le site' %}

                    <a class="btn btn-sm {{btnClass}}" title="Tableau {{ table.name }} {{ statusLabel }}, {{ visibleLabel }}"
                       href="{{ path('tournamenttable', {'tableId': table.id}) }}">
                        <i class="fa {{ visibleClass }}"></i>
                        {{ table.name }}
                    </a>
                {% endfor %}
                <br>
            </td>

            <td class="actions">
                {{ include('@AsmbCompetition/tournament/_list-actions.twig') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
