{% set lastUpdatedAt = null %}
{% if showHour is not defined %}
    {% set showHour = true %}
{% endif %}

<h3 class="title">{{ title }}</h3>
<div class="box">
    <table class="table is-fullwidth">
        {% for meeting in meetings %}
            {% if meeting.isReported == false or meeting.reportDate is not null %}
                {% if (previousDate is not defined or previousDate != meeting.date) %}
                    {% if loop.index != 1 %}
                        </tbody>
                    {% endif %}

                    <thead>
                    <tr>
                        <th colspan="{{ showHour ? 5:4 }}">
                            <span class="is-hidden-touch">
                                {{ meeting|formattedDate }}
                            </span>
                            <span class="is-hidden-desktop">
                                {{ meeting|formattedDate(true) }}
                            </span>
                        </th>
                    </tr>
                    </thead>

                    {% set previousDate = meeting.date %}
                    <tbody>
                {% endif %}
                {% set previousCompetitionPageSlug = meeting.competition_record_slug %}

                {% set scoreHtml = meeting|score(true)|default(' - ') %}
                {% set matchesSheetLinkHtml = meeting|matchesSheetLink(scoreHtml) %}
                {% set hour = meeting.time ? meeting.time|date('H') ~ 'h' ~ meeting.time|date('i') : '-' %}

                <tr>
                    {% if showHour %}
                        {% if meeting.isReported and meeting.reportDate is null %}
                            <td class="hour text-danger is-italic" title="{{ __('general.phrase.reported') }}">{{ __('general.phrase.reported') }}</td>
                        {% else %}
                            <td class="hour" title="{{ __('home.meetings.time') }}">
                                {{ hour }}
                            </td>
                        {% endif %}
                    {% endif %}
                    <td class="first-team{{ meeting.home_team_is_club ? ' is-club' }}">{{ meeting.home_team_name }}</td>
                    <td class="score">{{ matchesSheetLinkHtml ? matchesSheetLinkHtml : scoreHtml }}</td>
                    <td class="second-team{{ meeting.visitor_team_is_club ? ' is-club' }}">{{ meeting.visitor_team_name }}</td>
                    <td class="has-text-centered">
                        {% if meeting.competition_record_slug is defined %}
                            <a href="{{ url('contentlink', {'contenttypeslug': 'competitions', 'slug': meeting.competition_record_slug}) }}"
                               title="{{ meeting.championship_name }} : classement et résultats">
                                <span class="tag is-rounded">{{ meeting.championship_short_name }}</span>
                            </a>
                        {% endif %}
                    </td>
                </tr>

                {% if lastUpdatedAt == null or lastUpdatedAt < meeting.updated_at %}
                    {% set lastUpdatedAt = meeting.updated_at %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>

    {% if showLastUpdatedAt %}
        {% set updatedAtToDisplay = __('general.phrase.date-and-time', { '%date%': lastUpdatedAt|date('d/m'), '%time%': lastUpdatedAt|date('H\\hi')}) %}
        <span class="last-updated-at">{{ __('general.phrase.last_updated_at', {'%updated_at%': updatedAtToDisplay}) }}</span>
    {% endif %}
</div>
