<table class="table table-condensed">
    <thead>
    <tr>
        <th>{{ __('general.phrase.teams') }}</th>
        {% if teams|length > 1 %}
            <th colspan="3"></th>
        {% else %}
            <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>

    {% for team in teams %}
        {% if loop.index0 % 2 == 0 or loop.first %}
            <tr class="form-inline">
        {% endif %}

        <td class="col-xs-5"><span class="form-group{{ team.is_club ? ' is-club' }}">{{ team.short_name }}</span></td>

        <td class="col-xs-1">
            <form action="{{ path('poolteamremove', {'championshipId': championship.id, 'poolId': pool.id}) }}"
                  method="post" class="pull-right">

                <input type="hidden" name="{{ 'pool' ~ pool.id ~ '_remove_team_teamId' }}"
                       value="{{ team.id }}">

                <button type="submit" class="btn btn-xs btn-tertiary"
                        name="{{ 'pool' ~ pool.id ~ '_remove_team_save' }}">
                    <span class="pull-left">
                        <i class="fa fa-trash"></i>
                    </span>
                </button>
            </form>
        </td>

        {% if loop.index0 % 2 == 1 or loop.last %}
            </tr>
        {% endif %}
    {% endfor %}
    {% if teams is empty %}
        <tr>
            <td colspan="2"><em>{{ __('general.phrase.empty-list') }}</em></td>
        </tr>
    {% endif %}
    </tbody>
</table>
