{% set teamsCount = teams|length %}
{% if teamsCount > 1 %}
    {% set daysCount = (teamsCount is odd) ? teams|length : (teams|length - 1) %}
    {% set meetingsCountPerDay = (teamsCount / 2)|round(0, 'floor') %}

    {{ form_start(form) }}
        <div class="clearfix">
        {% for day in 1..daysCount %}
            {% if loop.index0 % 4 == 0 or loop.first %}
                <div class="row">
            {% endif %}

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <span class="pull-left">
                        {{ form_label(form['pool' ~ pool.id ~ '_day_' ~ day]) }}
                        </span>
                        <span class="pull-right">
                        {{ form_widget(form['pool' ~ pool.id ~ '_day_' ~ day]) }}
                        </span>
                    </div>

                    <div class="panel-body">
                        <table class="table table-condensed table-meetings">
                            {% set dateOfDay = (form.vars.value.days['day_' ~ day] is defined) ? form.vars.value.days['day_' ~ day] : '' %}
                            <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th>{{ __('page.edit-pool-meetings.time') }}</th>
                                <th>{{ __('page.edit-pool-meetings.home_team') }}</th>
                                <th>{{ __('page.edit-pool-meetings.visitor_team') }}</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for meetingPosition in 1..meetingsCountPerDay %}
                                <tr>
                                    <td class="text-center">
                                        {# Check if we have a specific date for the meeting #}
                                        {% set meetingDate = (form.vars.value.meetings['day_' ~ day][meetingPosition] is defined) ? form.vars.value.meetings['day_' ~ day][meetingPosition].date : null %}
                                        {% if meetingDate is null %}
                                            {% set showInfo = false %}
                                            {% set meetingFormattedDate = '' %}
                                        {% else %}
                                            {% set showInfo = true %}
                                            {% set meetingFormattedDate = meetingDate|date("d/m/Y") %}
                                        {% endif %}

                                        <div class="info-pop{% if not showInfo %} hidden{% endif %}" data-html="true"
                                             data-content="{{ __('page.edit-meeting-date.info', {'%date%': '<span class="info-date-meeting" id="infoDatemeeting-' ~ pool.id ~ '-' ~ day ~ '-' ~ meetingPosition ~ '">' ~ meetingFormattedDate ~ '</span>' }) }}">
                                            <i class="fa fa-calendar-o"></i>
                                        </div>
                                    </td>

                                    {# Time input #}
                                    <td class="text-left">
                                        {{ form_widget(form['pool' ~ pool.id ~ '_day_' ~ day ~ '_meeting_' ~ meetingPosition ~ '_time'], {'attr': {'title': __('page.edit-meeting-date.set-hour')}}) }}
                                    </td>

                                    {# Teams input #}
                                    <td class="text-left">{{ form_widget(form['pool' ~ pool.id ~ '_day_' ~ day ~ '_meeting_' ~ meetingPosition ~ '_home_team_id'], {'attr': {'class': 'select-team'}}) }}</td>
                                    <td>{{ form_widget(form['pool' ~ pool.id ~ '_day_' ~ day ~ '_meeting_' ~ meetingPosition ~ '_visitor_team_id'], {'attr': {'class': 'select-team'}}) }}</td>

                                    {#Button / info about specific date for the meeting#}
                                    <td class="text-center">
                                        <a href="#editmeetingModal-{{ pool.id ~ '-' ~ day ~ '-' ~ meetingPosition }}"
                                           class="btn btn-xs btn-silent-danger"
                                           data-toggle="modal" title="{{ __('page.edit-meeting-date.title') }}">
                                            <i class="fa fa-calendar-plus-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            meeting in
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% if loop.index0 % 4 == 3 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
        </div>

    <div class="pull-right">
        {{ form_widget(form['pool' ~ pool.id ~ '_meetings_save']) }}
    </div>

    {% for day in 1..daysCount %}
        {% for meetingPosition in 1..meetingsCountPerDay %}
            <div class="modal fade" id="editmeetingModal-{{ pool.id ~ '-' ~ day ~ '-' ~ meetingPosition }}"
                 tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {{ include('@AsmbCompetition/championship/meeting/_modal-edit.twig', {
                            'pool': pool,
                            'day': day,
                            'meetingPosition': meetingPosition
                        }) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_end(form) }}
{% endif %}
