<div class="mt-md col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                {{ title }}
                <em class="pull-right">{{ __('page.index-pool-meetings.to-n-days', {'%days%': nDays}) }}</em>
            </h3>
        </div>
        <div class="panel-body">
            {% if meetings is not empty %}
            <table class="table table-meetings-by-date">
                {% for meeting in meetings %}
                    {% if (previousDate is not defined or previousDate != meeting.date)
                        or (previousChpName is not defined or previousChpName != meeting.championship_name)
                    %}
                        {% if loop.index != 1 %}
                            </tbody>
                        {% endif %}

                        <thead>
                        <tr>
                            <th colspan="5" class="text-left">{{ meeting|formattedDate }} <em>({{ meeting.championship_name }})</em></th>
                        </tr>
                        </thead>
                        {% set previousDate = meeting.date %}
                        {% set previousChpName = meeting.championship_name %}

                        <tbody>
                    {% endif %}

                {% set scoreHtml = meeting|score(true) %}

                <tr>
                    <td class="text-center">{{ meeting.time ? meeting.time|date('h:i') : '?' }}</td>
                    <td class="text-right{{ meeting.home_team_is_club ? ' is-club' }}">{{ meeting.home_team_name }}</td>
                    <td class="text-center">{{ scoreHtml ? scoreHtml : '-' }}</td>
                    <td class="text-left{{ meeting.visitor_team_is_club ? ' is-club' }}">{{ meeting.visitor_team_name }}</td>
                    <td class="text-right">{{ meeting|matchesSheetLink() }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <p><em>{{  __('general.phrase.nothing-to-display') }}</em></p>
            {% endif %}
        </div>
    </div>
</div>
