{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'competition-menu' %}

{% block page_title __('page.index-pool-meetings.title') %}

{% block page_main %}
    {% setcontent homepage = "homepage" limit 1 returnsingle %}

    <div class="competition-page-main">
        {% import '@bolt/_macro/_macro.twig' as macro %}

        <div class="row">
            <div class="pull-right mb-md">
                {{ include('@AsmbCompetition/pool-meetings/_index-actions.twig') }}
            </div>
        </div>
        <div class="row">
            <p>{{ __('page.index-pool-meetings.meetings-of-the-moment.text1') }}</p>

            <p>{{ __('general.phrase.go-to') }} <a href="{{ path('editcontent', {'contenttypeslug': homepage.contenttype.slug, 'id': homepage.id}) }}#meetings_past_days">{{ __('page.index-pool-meetings.meetings-of-the-moment.home-text') }}</a></p>

            <p>{{ __('page.index-pool-meetings.meetings-of-the-moment.text2') }}</p>
        </div>

        <div class="row">
            {# Rencontres passées #}
            {{ include('@AsmbCompetition/pool-meetings/_meetings-by-date.twig', {
                'meetings': lastMeetings,
                'nDays': pastDays,
                'title': __('page.index-pool-meetings.last-meetings.title')
            }) }}

            {# Rencontres futures #}
            {{ include('@AsmbCompetition/pool-meetings/_meetings-by-date.twig', {
                'meetings': nextMeetings,
                'nDays': futureDays,
                'title': __('page.index-pool-meetings.next-meetings.title')
            }) }}
        </div>
    </div>
{% endblock page_main %}
