{# Le mode prévisualisation du BO créé un contenu "itérable" à la récupération
   du champ (!= de la vue classique !), d'où le code qui suit. #}

{# Vidéo MP4 #}
{% set heroVideoMp4File = '' %}
{% if homepage.hero_video_mp4 %}
    {% set heroVideoMp4File = (homepage.hero_video_mp4 is iterable) ? homepage.hero_video_mp4.file : homepage.hero_video_mp4 %}
{% endif %}

{# Vidéo commitment_rights_elements_to_provide #}
{% set heroVideoMovFile = '' %}
{% if homepage.hero_video_mov %}
    {% set heroVideoMovFile = (homepage.hero_video_mov is iterable) ? homepage.hero_video_mov.file : homepage.hero_video_mov %}
{% endif %}

{# Image #}
{% set heroImageFile = '' %}
{% if homepage.hero_image %}
    {% set heroImageFile = (homepage.hero_image is iterable) ? homepage.hero_image.file : homepage.hero_image %}
{% endif %}

{# Cas 1 : 1 ou 2 vidéos ont été définies #}
{% if heroVideoMp4File or heroVideoMovFile %}
{# TODOpeleq intégrer le CSS dans les fichiers #}
<section class="hero">
    <div class="hero-video">

        {# Vidéo(s) #}
        <div class="video-container">
            {# Transparence directement sur la vidéo si pas de masque de couleur #}
            {% set opacity = (homepage.hero_opacity and not homepage.hero_color_mask) ? homepage.hero_opacity : 1 %}

            <video autoplay="true" loop="true" width="100%" muted="true" style="opacity: {{opacity}};">
            {% if heroVideoMp4File %}
                <source src="{{ asset(heroVideoMp4File, 'files') }}" type="video/mp4" />
            {% endif %}
            {% if heroVideoMovFile %}
                <source src="{{ asset(heroVideoMovFile, 'files') }}" type="video/mov" />
            {% endif %}
            </video>
        </div>

        {# Masque de transparence #}
        {% if homepage.hero_opacity and homepage.hero_color_mask %}
            <div class="color-mask" style="background-color: {{ '#' ~ homepage.hero_color_mask }}; opacity: {{ homepage.hero_opacity }}"></div>
        {% endif %}

        {# Titre et sous-titre #}
        <div class="hero-body">
        {{ _self.titleAndSubtitle(homepage) }}
        </div>
    </div>
</section>

{# Cas 2: seule une image a été définie #}
{% else %}
<section class="hero hero-image is-medium"
         style="background: url('{{ asset(heroImageFile, 'files') }}') no-repeat center bottom / cover;">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-spaced">{{- homepage.hero_title -}}</h1>
            {% if homepage.hero_subtitle is not empty %}
            <h2 class="subtitle">{{- homepage.hero_subtitle -}}</h2>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}

{% macro titleAndSubtitle(homepage) %}
<div class="container has-text-centered">
    <h1 class="title is-spaced"
        style="color: {{ '#' ~ homepage.hero_title_color }};
        {% if homepage.hero_title_color_shadow %}text-shadow: 4px 8px 16px {{ '#' ~ homepage.hero_title_color_shadow }};{% endif %}"
    >{{- homepage.hero_title -}}</h1>

    {% if homepage.hero_subtitle is not empty %}
    <h2 class="subtitle" style="font-weight: bold; color: {{ '#' ~ homepage.hero_subtitle_color }};
        {% if homepage.hero_subtitle_color_shadow %}text-shadow: 1px 1px 8px {{ '#' ~ homepage.hero_subtitle_color_shadow }};{% endif %}"
    >{{- homepage.hero_subtitle -}}</h2>
    {% endif %}
</div>
{% endmacro %}
