<!doctype html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    {% if record is not defined and homepage is defined %}
        {% set record = homepage %}
    {% endif %}

    {# On prend en priorité la donnée "meta_title" si elle existe, puis la donnée "title" ensuite. #}
    {% set headTitle = '' %}
    {% if record.meta_title is defined and record.meta_title is not empty %}
        {% set headTitle = record.meta_title ~ ' | ' %}
    {% elseif record.title is defined and record.title is not empty %}
        {% set headTitle = record.title ~ ' | ' %}
    {% endif %}
    {% set headTitle = headTitle ~ config.get('general/sitename') %}
    <title>{{ headTitle -}}</title>

    {% if record.meta_description is defined and record.meta_description is not empty %}
        <meta name="description" content="{{ record.meta_description }}">
    {% endif %}

    {% if record.meta_robots is defined and record.meta_robots is not empty %}
        <meta name="robots" content="{{ record.meta_robots }}">
    {% endif %}

    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png', 'theme') }}"/>

    <link href="https://fonts.googleapis.com/css?family=Bitter|Roboto:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Niramit|Poppins|Mali|Ultra|Comfortaa|Raleway"
          rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/theme.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/bulma.css', 'theme') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

   {% block head %}{% endblock head %}
</head>

<body class="{{ block('body_class') }}">

<a href="#main-content" class="visually-hidden focusable skip-link">Skip to main content</a>

{% block body %}
    <header id="header" role="banner" class="header">
        {{ include('partials/_header_top.twig') }}
        {% if app.request.get('_route') == "homepage" %}
            {{ include('partials/_header.twig') }}
        {% endif %}
    </header>

    <div id="main-content">
        {{ widgets('main_top') }}

        {% block main %}
        {% endblock main %}

        {{ widgets('main_bottom') }}
    </div>

    <a href="#header" class="scrollup" title="{{ __('general.phrase.back-to-top') }}"><i class="fa fa-arrow-up"></i></a>
{% endblock body %}

{{ include('partials/_footer.twig') }}

<script src="{{ asset('js/lib/jquery-3.3.1.min.js', 'theme') }}"></script>
<script src="{{ asset('js/lib/jquery.touchSwipe.min.js', 'theme') }}"></script>

<!-- jQuery Custom Scroller CDN -->
<script src="{{ asset('lib/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js', 'theme') }}"></script>

<script src="{{ asset('js/app.js', 'theme') }}"></script>

</body>
</html>


