<!doctype html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
        {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
        {{ config.get('general/sitename') -}}
        {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
        {% if block('head_title') is defined %} - {{ block('head_title') }}{% endif -%}
    </title>
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png', 'theme') }}"/>

    <link href="https://fonts.googleapis.com/css?family=Bitter|Roboto:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Niramit|Poppins|Mali|Ultra|Comfortaa|Raleway"
          rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/theme.css', 'theme') }}?random={{ "now"|date("U") }}">
    <link rel="stylesheet" href="{{ asset('css/bulma.css', 'theme') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {% block head %}{% endblock head %}
</head>

<body>
{#<header id="header" role="banner" class="header">#}
    {#{{ include('partials/_header_top.twig') }}#}
{#</header>#}
{% block body %}
    <div id="main-content">
        {% block main %}
        {% endblock main %}
    </div>
{% endblock body %}
{#{{ include('partials/_footer.twig') }}#}
</body>
</html>


