<nav id="sidebar" role="navigation" aria-label="main navigation">
    <button id="closeSidebar" type="button" class="close sidebar-collapse" aria-label="Fermer le menu">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="sidebar-header">
        <h1>
            <a href="{{ path('homepage') }}">
                <img class="mx-auto d-block" width="100" height="100" src="{{ asset('images/logo.png', 'theme') }}"
                     alt="ASMB">
                <span>{{ config.get('general/sitename') }}</span>
            </a>
        </h1>
    </div>

    <form method="get" action="{{ path('search') }}" id="searchform-inline" enctype="text/plain" class="form-search">
        <div class="input-group">
            <input class="form-control border-white" value="{{ search|default() }}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search">
            <div class="input-group-append">
                <button class="btn text-white border-white" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    {{ menu(template = 'partials/_sub_menu.twig') }}
</nav>
