{% extends 'partials/_master.twig' %}

{% block main %}

    <section class="section section-page">
        <div class="container">
            <div class="columns block {% if record.image %}block-with-image{% endif %}">
                <div class="column block-content">
                    <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>

                    {% if record.subtitle %}
                        <h2 class="title is-size-2 is-size-4-mobile">{{ record.subtitle }}</h2>
                    {% endif %}

                    {% if record.subtitle2 %}
                        <h3>{{ record.subtitle2|raw|nl2br }}</h3>
                    {% endif %}

                    <hr class="is-invisible">

                    {% if record.description %}
                        <div>{{ record.description|raw|nl2br }}</div>

                        <hr class="is-invisible">
                    {% endif %}

                    {# Si les balles sont fournies, on l'affiche ici #}
                    {% if record.balls_provided and record.balls_provided != 'no' %}
                        <ul>
                            <li>{{ record.contenttype.fields.balls_provided.values[record.balls_provided] }}</li>
                        </ul>
                    {% endif %}
                </div>

                {% if record.image %}
                    {% set height = record.image_height %}
                    {% set width = record.image_width %}
                    {% set imageFile = (record.image is iterable) ? record.image.file : record.image %}

                    <div class="column block-image">
                        <span class="image"
                              style="background: url('{{ asset(imageFile, 'files') }}') no-repeat center; background-size: cover; height: 100%; width: {{ width }}px;">
                        </span>
                    </div>
                {% endif %}
            </div>

            <div class="columns">
                {% if record.location %}
                    <div class="column is-half">
                        {# Infos "Lieu de compétition" #}
                        <div class="box">
                            <h4 class="is-size-3 is-size-4-mobile">{{ record.contenttype.fields.location.label }}</h4>
                            <p>{{ record.location|nl2br }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if record.schedule %}
                    <div class="column is-half">
                        {# Infos "Horaire des matchs" #}
                        <div class="box">
                            <h4 class="is-size-3 is-size-4-mobile">{{ record.contenttype.fields.schedule.label }}</h4>
                            <p>{{ record.schedule|raw|nl2br }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="columns">
                {# Infos "Inscriptions" #}
                <div class="column is-half">
                    <div class="box inscriptions">
                        <h4 class="is-size-3 is-size-4-mobile">
                            {{ __('general.phrase.inscriptions') }}
                            {% if record.inscriptions_closing_without_notice %}
                                <span class="notice">({{ __('general.phrase.inscriptions_closing_without_notice') }})</span>
                            {% endif %}
                        </h4>
                        <ul>
                            {% if record.inscription_online_text and record.inscription_online_url %}
                                <li class="entry"><a href="{{ record.inscription_online_url }}" target="_blank"
                                                     title="{{ record.inscription_online_text|raw }}">{{ record.inscription_online_text|raw }}</a>
                                </li>
                            {% endif %}

                            {% if record.inscription_contact_text %}
                                <li class="entry">{{ record.inscription_contact_text }} :</li>
                            {% endif %}
                            {% if record.inscription_contact_mail %}
                                <li>par email à <a href="mailto:{{ record.inscription_contact_mail }}">{{ record.inscription_contact_mail }}</a></li>
                            {% endif %}
                            {% if record.inscription_contact_phone %}
                                <li>{{ record.inscription_contact_mail ? 'ou ' }}par téléphone au {{ record.inscription_contact_phone }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                {# Infos "Droits d'engagement" #}
                <div class="column is-half">
                    <div class="box commitment-rights">
                        <h4 class="is-size-3 is-size-4-mobile">{{ __('general.phrase.commitment_rights') }}</h4>
                        <ul>
                            {% if record.commitment_rights_price %}
                            <li class="entry"><span>{{ record.commitment_rights_price|raw|nl2br }}</span></li>
                            {% endif %}

                            {% if record.commitment_rights_elements_to_provide %}
                                <li class="entry">{{ __('general.phrase.commitment_rights_elements_to_provide') }} :</li>
                                <li><span>{{ record.commitment_rights_elements_to_provide|raw|nl2br }}</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main %}
