<table class="dashboardlisting table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th></th>
        <th>{{ __('general.phrase.name') }}</th>
        <th>{{ __('general.phrase.year') }}</th>
        <th>{{ __('general.phrase.short_name') }}</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for championship in championships %}
        <tr>

            <td class="text-center is_active">
                {%  if championship.is_active %}
                    <i class="info-pop fa fa-circle status-published"
                       data-content="{{ __('page.list-championship.is_active.info') }}"
                       data-title="{{ __('page.list-championship.is_active.title') }}"></i>
                {% else %}
                    <i class="info-pop fa fa-circle"
                       data-content="{{ __('page.list-championship.not-is_active.info') }}"
                       data-title="{{ __('page.list-championship.not-is_active.title') }}"></i>
                {% endif %}
            </td>

            <td class="name">{{ championship.name }}</td>

            <td class="year">{{ championship.year }}</td>

            <td class="short_name">{{ championship.short_name }}</td>

            <td class="actions">
                {{ include('@AsmbCompetition/championship/_list-actions.twig') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
