<form action="{{ path('championshipdelete', {'id': championship.id}) }}" method="post">
    <a class="btn btn-primary"
       href="{{ path('championshipview', {'id': championship.id}) }}">
        <i class="fa fa-list-alt"></i> <span
                class="hidden-xs">{{ __('page.list-championship.show-results.title') }}</span>
    </a>

    {% if isallowed('competition:edit') %}
        <a class="btn btn-secondary"
           href="{{ path('championshipedit', {'id': championship.id}) }}">
            <i class="fa fa-edit"></i> <span
                    class="hidden-xs">{{ __('page.list-championship.edit-pool-teams.title') }}</span>
        </a>

        <button type="submit" class="btn btn-danger confirm"
                data-confirm="{{ __('general.phrase.confirm-delete-championship', { '%name%': championship.name ~ ' ' ~ championship.year }) }}">
        <span class="pull-left"><i
                    class="fa fa-trash"></i><span class="hidden">{{ __('general.phrase.delete') }}</span></span>
        </button>
    {% endif %}
</form>
