<table class="dashboardlisting table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>{{ __('general.phrase.championship-name') }}</th>
        <th>{{ __('general.phrase.championship-year') }}</th>
        <th>{{ __('general.phrase.championship-short_name') }}</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for championship in championships %}
        <tr>

            <td class="name">{{ championship.name }}</td>

            <td class="year">{{ championship.year }}</td>

            <td class="short_name">{{ championship.short_name }}</td>

            <td class="actions">
                {{ include('@AsmbCompetition/championship/_list-actions.twig') }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
