{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'championship-menu' %}

{% block page_title championship.name ~ ' ' ~ championship.year %}

{% block page_main %}
    <div class="competition-edit">
        {% import '@bolt/_macro/_macro.twig' as macro %}

        {% form_theme context.editScoresForm 'form_bolt_layout.twig' %}

        {{ form_start(context.editScoresForm) }}
        {% for category_name, pools in poolsByCategoryName %}
            {% if pools is not empty %}
                <fieldset>
                    <legend>{{ __('general.phrase.pools-of-category', {'%categoryName%': category_name}) }}</legend>
                    {% for pool in pools %}
                        {% if loop.index0 % 4 == 0 or loop.first %}
                            <div class="row small-gap">
                        {% endif %}

                        {{ include('@AsmbCompetition/championship/pool/matches/_edit-scores.twig',
                            {
                                'pool': pool,
                                'poolTeams': poolTeamsByPoolId[pool.id],
                                'matchesPerDay': matchesByPoolId[pool.id],
                                'form': context.editScoresForm
                            }) }}

                        {% if loop.index0 % 4 == 3 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
            {% endif %}
        {% endfor %}

        <div class="row form-group">
            <div class="col-md-12">
            <div class="pull-right">
                {{ form_widget(context.editScoresForm['scores_save']) }}
            </div>
            <div class="pull-left">
                <a href="{{ path('championship') }}" class="btn btn-default">
                    <i class="fa fa-chevron-circle-left"></i>
                    {{ __('general.phrase.back') }}
                </a>
            </div>
            </div>
        </div>

        {{ form_end(context.editScoresForm) }}
    </div>
{% endblock page_main %}
