{# Récupération de certains éléments de l'en-tête contribués dans le contenu "Accueil" #}
{% setcontent homepage = 'accueil/accueil' %}

<header id="header">
    <nav class="navbar">
        <button id="openSidebar" class="navbar-toggler navbar-light" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <h1>
            <a href="{{ path('homepage') }}">
                <img class="mx-auto d-block" width="200" height="200" src="{{ asset('images/logo.png', 'theme') }}"
                     alt="ASMB">
                {#<span>{{ config.get('general/sitename') }}</span>#}
            </a>
        </h1>

        {% if homepage.header_shortlinks is not empty %}
            {% spaceless %}
                <ul class="navbar-nav nav-shortlinks">
                    {% for shortlink in homepage.header_shortlinks %}
                        <li class="nav-item">
                            <a href="{{ shortlink.url }}" title="{{- shortlink.link_title -}}"
                               target="{{ (shortlink.target_blank is not defined or shortlink.target_blank is empty) ? '_self' : '_blank' }}"
                               class="nav-link text-white">
                                <i class="{{ shortlink.icon }}"></i><span>{{- shortlink.text -}}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endspaceless %}
        {% endif %}

        <div class="navbar-brand flex-grow-1">
            <span class="header-title">{{- homepage.header_title -}}</span>

            {% if homepage.header_baselines is not empty %}
                <ul class="header-baseline list-inline">
                    {% for baseline in homepage.header_baselines %}
                        <li class="list-inline-item">{{- baseline.item -}}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {#<div class=".hidden-xs-down">#}
                {#{{ include('partials/_searchform.twig') }}#}
            {#</div>#}
        </div>
    </nav>
</header>
