{% extends 'partials/_master.twig' %}

{% set contactForm = contactForm() %}

{% block main %}
    <section class="section section-contact" data-nosnippet>
        <div class="container">
            <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>
            {{ record.teaser }}

            <div class="columns">
                <div class="column is-three-fifths">
                    {{ record.body }}

                    {{ include('partials/_flash_messages.twig') }}

                    <div class="section">
                        {{ form_start(contactForm, {'action': path('contactsubmit') }) }}
                            <div class="field">
                                {{ form_label(contactForm.contactName, null, {'label_attr': {'class': 'label'}}) }}
                                <div class="control">
                                    {{ form_widget(contactForm.contactName, {'attr': {'class': 'input'}}) }}
                                </div>
                            </div>

                            <div class="field">
                                {{ form_label(contactForm.contactEmail, null, {'label_attr': {'class': 'label'}}) }}
                                <div class="control">
                                    {{ form_widget(contactForm.contactEmail, {'attr': {'class': 'input'}}) }}
                                </div>
                            </div>

                            <div class="field">
                                {{ form_label(contactForm.contactSubject, null, {'label_attr': {'class': 'label'}}) }}
                                <div class="control">
                                    {{ form_widget(contactForm.contactSubject, {'attr': {'class': 'input'}}) }}
                                </div>
                            </div>

                            <div class="field">
                                {{ form_label(contactForm.contactMessage, null, {'label_attr': {'class': 'label'}}) }}
                                <div class="control">
                                    {{ form_widget(contactForm.contactMessage, {'attr': {'class': 'textarea'}}) }}
                                </div>
                            </div>
                        {{ form_widget(contactForm.submit, {'attr': {'class': 'button has-background-primary has-text-white has-text-weight-semibold'}}) }}
                        {{ form_end(contactForm) }}
                    </div>
                </div>

                <div class="column column-image">
                    {% if record.image is not empty %}
                        <figure class="image">
                            <img src="{{ record.image|image }}" alt="{{ record.values.image.alt|default() }}"/>
                            <figcaption>
                                {{ record.values.image.title|default() }}
                            </figcaption>
                        </figure>
                    {% else %}
                        <i class="fas fa-mail-bulk"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock main %}
