{% extends 'partials/_master.twig' %}

{% block main %}

    <section class="section section-bureau" data-nosnippet>
        <div class="container">
            <article role="article" class="content">
                <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>

                {{ record.teaser }}

                {% if record.image is not empty %}
                    <figure class="image">
                        <img src="{{ record.image|image }}" alt="{{ record.values.image.alt|default() }}"/>
                        <figcaption>
                            {{ record.values.image.title|default() }}
                        </figcaption>
                    </figure>
                {% endif %}

                {{ record.body }}
            </article>
        </div>
    </section>

{% endblock main %}
