{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section section-page" data-nosnippet>
    <div class="container">

        <div class="embed-block">
            {% if record.block %}
                {% set block = record.block %}
                {% setcontent block = 'blocs' where {'id': record.block} returnsingle %}
                {% if block != false %}
                    {% include block.contenttype.record_template_block with {'block': block, 'embedIntoPage': true} %}
                {% endif %}
            {% else %}
                <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>

                {% if record.subtitle is defined and record.subtitle is not empty %}
                    <h2 class="title">{{ record.subtitle }}</h2>
                {% endif %}
            {% endif %}
        </div>

        <div class="columns">
            <div class="column">
                {% set imageFile = (record.image is iterable) ? record.image.file : record.image %}
                {% if imageFile is not empty %}
                    <figure class="image">
                        <img src="{{ imageFile|image }}" alt="{{ record.values.image.alt|default() }}"/>
                        <figcaption>
                            {{ record.values.image.title|default() }}
                        </figcaption>
                    </figure>
                {% endif %}

                <article role="article" class="content">
                    {{ record.body|raw }}

                    {# If there are repeaters, we should output them. #}
                    {% with { 'record': record, 'common': false, 'repeaters': true, 'blocks': true, 'exclude': ['teaser', 'body', 'image'] } %}
                    {{ block('sub_fields', 'partials/_sub_fields.twig') }}
                    {% endwith %}
                </article>

                {{ include('partials/_recordfooter.twig', { 'record': record, 'extended': true }) }}
            </div>
        </div>
    </div>
</section>

{% endblock main %}
