{% extends 'partials/_master.twig' %}

{% block main %}

    <section class="section section-bureau" data-nosnippet>
        <div class="container">
            <article role="article" class="content">
                <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>
                {{ record.body }}
            </article>

            <div class="columns is-multiline">
                {% for member in record.members %}
                    <div class="column">
                        <div class="member has-background-white">
                            <img src="{{ member.photo|thumbnail(250, 250, 'r') }}" alt="{{ member.name }}">
                            <h2 class="title text-center text-primary">{{ member.name }}</h2>

                            {% set functions = member.function|split(',') %}
                            <div class="functions">
                                {% for function in functions %}
                                    <h3 class="title text-secondary">{{ function|trim }}</h3>
                                {% endfor %}
                            </div>

                            <div class="text-secondary">{{ member.text|raw }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock main %}
