{% block head_title __('page.not-found.title') %}
{% block body_class 'page-not-found' %}

{% extends 'partials/_master-lite.twig' %}

{% setcontent record = 'blocks/404-not-found' %}

{% block main %}

    <section class="section section-not-found">
        <div class="container">
            <div class="content">
                <a href="{{ path('homepage') }}" title="{{ __('page.not-found.link.title') }}">
                    <img class="img-responsive" width="120" height="120"
                         src="{{ asset('images/logo.png', 'theme') }}" alt="{{ config.get('general/sitename') }}">
                </a>

                {% if record %}
                    <h1 class="title is-size-1 is-size-3-mobile">{{ record.title|default('404 not found') }}</h1>
                    {{ record.content|default('<p>The requested page was not found.</p>')|raw }}
                {% else %}
                    <h1 class="title is-size-1 is-size-3-mobile">{{ __('page.not-found.title') }}</h1>
                    <p class="text-secondary">{{ __('page.not-found.text-top') }}</p>

                    <div class="panel-404">
                        <a href="{{ path('homepage') }}" title="{{ __('page.not-found.link.title') }}">
                            <div class="title">{{ __('general.phrase.panel.title') }}</div>

                            <div class="team">{{ __('general.phrase.visitor') }}</div>
                            <div>
                                <img src="{{ asset('images/score-4.jpg', 'theme') }}"/>
                                <img src="{{ asset('images/score-0.jpg', 'theme') }}"/>
                                <img src="{{ asset('images/score-4.jpg', 'theme') }}"/>
                            </div>

                            <div class="team">{{ __('general.phrase.club') }}</div>
                            <div>
                                <img src="{{ asset('images/score-6.jpg', 'theme') }}"/>
                                <img src="{{ asset('images/score-6.jpg', 'theme') }}"/>
                                <img src="{{ asset('images/score-6.jpg', 'theme') }}"/>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
</section>
{% endblock main %}



