{% extends 'partials/_master.twig' %}

{% block main %}
<section class="section section-listing">
    <div class="container">
    {# This template is used for search results. If 'search' is defined,
        we display an appropriate title. The 'records' array contains all of the
        records matching the current query. If there are no results, the
        code in the 'else' part of the for-loop is used. #}

        <h1 class="title is-size-1 is-size-3-mobile">
        {% if search is not empty %}
            {{ __('general.phrase.search-results-for-variable', { '%search%': search }) }}
        {% else %}
            {{ __('general.phrase.search') }}
        {% endif %}
        </h1>

        {# Perhaps we post a small teaser, stored in the 'block' named 'Search teaser' #}
        {% setcontent block = "block/search-teaser" %}

        {# check if we have 'content'. If so, we know we have have a teaser to display. #}
        {% if block.content is defined %}
            <div class="content">
                {{ block.content }}
            </div>
        {% endif %}
    </div>
</section>

<section class="section section-listing">
    <div class="container">
        {% for record in records %}
        <article role="article" class="media columns">
            <div class="media-content column is-8">
                <div class="content">
                    <h2 class="title"><a href="{{ record.link }}">{{ record.title }}</a></h2>

                    {# display something introduction-like.. #}
                    <p>{{ record.excerpt(300, false, search|default('')) }}</p>

                    {% include 'partials/_record_meta.twig' with {'record': record, 'extended': true} %}
                </div>
            </div>
            {% if record.image is not empty %}
            <div class="media-right column is-hidden-touch is-hidden-desktop-only">
                <figure class="image">
                    <img src="{{ record.image|image(240, 160, "r") }}" alt="{{ record.values.image.alt|default() }}" />
                </figure>
            </div>
            {% endif %}
        </article>

        {% else %}

        <article role="article" class="media">
            <div class="media-content">
                <div class="content">
                    <p>{{ __('general.phrase.no-result-for-search-term', { '%SEARCHTERM%': search|escape }) }}</p>
                </div>
            </div>
        </article>

        {% endfor %}

        {# If there are more records than will fit on one page, the pager is shown. #}
        {{ pager(template = 'partials/_sub_pager.twig') }}

    </div>
</section>
{% endblock main %}
