{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section section-page">
    <div class="container">
        <div class="columns">
            <div class="column">
                <article role="article" class="content">
                    <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>

                    {% include 'partials/_record_meta.twig' with {'extended': false} %}

                    {{ record.teaser }}

                    {% if record.image is not empty %}
                    <figure class="image">
                        <img src="{{ record.image|image }}" alt="{{ record.values.image.alt|default() }}" />
                        <figcaption>
                            {{ record.values.image.title|default() }}
                        </figcaption>
                    </figure>
                    {% endif %}

                    {{ record.body }}

                    {# If there are repeaters, we should output them. #}
                    {% with { 'record': record, 'common': false, 'repeaters': true, 'blocks': true, 'exclude': ['teaser', 'body', 'image'] } %}
                    {{ block('sub_fields', 'partials/_sub_fields.twig') }}
                    {% endwith %}
                </article>

                {{ include('partials/_recordfooter.twig', { 'record': record, 'extended': true }) }}
            </div>
        </div>
    </div>
</section>

{% endblock main %}
