{% form_theme form 'form_bolt_layout.twig' %}

<div class="panel panel-default">
    <div class="panel-heading">{{ __('panel.pool-actions.add') }}</div>
    <div class="panel-body">
        {{ form_start(form) }}
        <table class="table-condensed">
            <thead>
            <tr>
                <th class="col-xs-1"><label for="{{ form.position.vars.id }}">{{ __('general.phrase.position') }}</label></th>
                <th class="col-xs-2"><label for="{{ form.category_name.vars.id }}">{{ __('general.phrase.category_name') }}</label></th>
                <th class="col-xs-3"><label for="{{ form.name.vars.id }}">{{ __('general.phrase.name-fft') }}</label></th>
                <th class="col-xs-2"><label for="{{ form.short_name.vars.id }}">{{ __('general.phrase.short_name') }}</label></th>
                <th class="col-xs-5"><label for="{{ form.link_fft.vars.id }}">{{ __('general.phrase.link_fft') }}</label></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="position">
                    {{ form_widget(form.position, {'attr': {'min': 1, 'max': 99}}) }}
                </td>

                <td class="name">
                    {{ form_widget(form.category_name) }}
                </td>

                <td class="year">
                    {{ form_widget(form.name) }}
                </td>

                <td class="short_name">
                    {{ form_widget(form.short_name) }}
                </td>


                <td class="link_fft">
                    {{ form_widget(form.link_fft) }}
                </td>

                <td class="actions">
                    {{ form_widget(form.save) }}
                </td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
</div>
