{% form_theme addTeamsForm 'form_bolt_layout.twig' %}

<div id="pool{{ pool.id }}" class="panel panel-default">
    <div class="panel-heading">
        <span>{{ pool.getFinalName() }}</span>
        {% if pool.link_fft %}
            &nbsp;&bullet;&nbsp;
            <a href="{{ pool.link_fft }}" target="_blank">
                <i class="fa fa-external-link"></i> {{ __('general.phrase.go-to-fft') }}
            </a>
        {% endif %}

        <div class="pull-right">
            {{ include('@AsmbCompetition/championship/pool/_list-actions.twig', {'pool': pool}) }}
        </div>
    </div>
    <div class="panel-body">
        {{ form_start(addTeamsForm) }}
        {{ form_widget(addTeamsForm['pool' ~ pool.id ~ '_add_team_championshipId']) }}
        {{ form_widget(addTeamsForm['pool' ~ pool.id ~ '_add_team_teamId']) }}
        <div class="button-wrap">
            {{ form_widget(addTeamsForm['pool' ~ pool.id ~ '_add_team_save'], {'attr': {'class': 'pull-right btn-secondary'}}) }}
        </div>
        {{ form_end(addTeamsForm) }}
    </div>
    <script>
        var multiselectSelector = '{{ '#pool' ~ pool.id ~ '_add_team_teamId' }}';
        $(multiselectSelector).select2({
            width: '100%',
            allowClear: true,
            multiple: true,
            placeholder: {
                id: '',
                text: "{{ __('general.phrase.choose-team') }}"
            },
            minimumResultsForSearch: Infinity
        });
    </script>


    <div class="panel-body">
        {# Teams edition #}
        {{ include('@AsmbCompetition/championship/pool/teams/_list.twig', {
                'championship': championship,
                'pool': pool,
                'teams': teams
            }
        ) }}
    </div>

    {% if teams|length > 1 %}
        {% set completeness = context.completenessByPoolId[pool.id] %}
        {% set btnClass = completeness == 0 ? 'btn-danger' : completeness == 100 ? 'btn-success' : 'btn-warning' %}

        <div class="completeness-block">
            <div class="panel-body clearfix">
                <div class="text-center ">
                    <a href="{{ path('pooleditmatches', {'poolId': pool.id}) }}" title="{{ __('page.edit-pool-matches.title') }}"
                       class="btn btn-lg {{ btnClass }}">{{ __('page.edit-championship.edit-pool-matches', {'%percent%': completeness}) }}</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
