{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'championship-menu' %}

{% set title = __('general.phrase.championship_pool_matches.edit', {'%name%': pool.short_name ? pool.short_name : pool.name}) %}
{% block page_title title %}

{% block page_main %}
    <div class="competition-edit">

        {# Completeness indicator #}
        <div class="mb-md completeness-block">
            {% set completeness = context.completeness %}
            {% set badgeClass = completeness == 0 ? 'bg-danger' : completeness == 100 ? 'bg-success' : 'bg-warning' %}
            <span class="badge {{ badgeClass }}">{{ __('page.edit-championship.completeness', {'%percent%': completeness}) }}</span>
        </div>

        {% form_theme context.form 'form_bolt_layout.twig' %}

        {{ include('@AsmbCompetition/championship/pool/matches/_edit.twig',
            {
                'form': context.form,
                'pool': pool,
                'teams': teams
            }
        ) }}

        <div class="row form-group pull-left">
            <div class="col-md-12">
                <a href="{{ path('championshipedit', {'id': pool.championship_id}) }}" class="btn btn-default">
                    <i class="fa fa-chevron-circle-left"></i>
                    {{ __('general.phrase.back') }}
                </a>
            </div>
        </div>
    </div>
{% endblock page_main %}
